<button mat-icon-button [matMenuTriggerFor]="tariffGroupsMenu">
    <mat-icon>{{icon}}</mat-icon>
</button>

<!-- codeIcons[tariffGroup.code] -->

<mat-menu #tariffGroupsMenu="matMenu" >
    <ng-container *ngIf="data?.info">
        <ng-container *ngFor="let tariffGroup of data.info.tarrifGroups">
            <button mat-menu-item [matMenuTriggerFor]="tariffsMenu">
                <mat-icon>{{ 'directions_car' }}</mat-icon>
                <span>{{tariffGroup.name}}</span>
            </button>
            <mat-menu #tariffsMenu="matMenu">
                <button (click)="changeIcon('directions_car')" mat-menu-item *ngFor="let tariff of tariffGroup.tarrifs" >{{tariff.name}}</button>
            </mat-menu>
        </ng-container>
    </ng-container>
</mat-menu>