
.form {
    width: 350px;
    height: 280px;
    margin-top: 280px;
    background-color: #fff;
    border: 2px thin #f0f8ff;
    border-radius: 8px;
    padding-top: 5px;
}

.inputs {
    margin-top: 20px;
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0 20px 20px;
}

.to, .from {
    display: flex;
    align-items: center;
}

.from-img, .to-img, .to-icon, .from-icon{
    width:20px ;
    margin:0 0 10px 15px;
}

.from-icon, .to-icon {
    cursor: move;
}