<app-form-header></app-form-header>
<div class="container">
    <p class="code-choose-title">Выберите способ отправки кода подтверждения</p>
    <div class="code-choose-buttons">
        <app-code-send-button id="call" (showThirdFormEvent)="toggleThirdForm($event)" buttonText="Позвоните мне" icon="call" ></app-code-send-button>
        <mat-divider></mat-divider>
        <app-code-send-button id="message" (showThirdFormEvent)="toggleThirdForm($event)" buttonText="Отправьте СМС" icon="message" ></app-code-send-button>
    </div>
   <app-change-number-button (changeNumberEvent)="toggleFirstForm()"></app-change-number-button>
    <p class="code-choose-warn">Нажав кнопку «Получить код», я даю согласие на обработку моих персональных данных и получение рекламы.</p>
</div>