<button mat-icon-button [matMenuTriggerFor]="tariffGroupsMenu">
  <mat-icon>{{ tariff?.classId | tariffIcon : tariffGroups }}</mat-icon>
</button>

<mat-menu #tariffGroupsMenu="matMenu">
  <ng-container *ngIf="tariffGroups">
    <ng-container *ngFor="let tariffGroup of tariffGroups">
      <button
        class="tariff-group-button"
        mat-menu-item
        [matMenuTriggerFor]="tariffsMenu"
      >
        <mat-icon>{{
          tariffGroup.code | tariffCodeToIconName : this.codeIcons
        }}</mat-icon>
        <span>{{ tariffGroup.name }}</span>
      </button>
      <mat-menu #tariffsMenu="matMenu">
        <button
          class="tariff-button"
          (click)="changeTariff(tariff)"
          mat-menu-item
          *ngFor="let tariff of tariffGroup.tariffs"
        >
          {{ tariff.name }} ({{ tariff.minPriceString }})
        </button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-menu>
