.close-button {
    width: 180px;
    height: 35px;
    margin: 0 20px;
    backface-visibility: hidden;
    border-radius: 15px;
    border-width: 0;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

h2 {
    text-align: center;
    padding-right: 25px;
}